.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-fluid{
  margin-top: 30px;
  max-width: 1300px;
}

.loader{
  margin-top: 100px;
}

.form-label{
  width: 100%;
}

.label{
  color: lightgray;
  padding-top: 10px;
  justify-content: right;
  text-align: center;
  float: right;
  font-size: 15px;
  padding: 5px;
}

.banner{
  padding: 20px;
  overflow: hidden;
}

.banner h1{
  float: left;
}

#searchInput {
  padding-top: 10px;
  justify-content: right;
  text-align: center;
  float: right;
}

.item{
  cursor: pointer;
}

.item:hover{
  box-shadow: 5px 5px 5px lightgray;
}

.formBtn{
  margin-right: 10px;
}

.bntColumn{
  text-align: center;
}

.bntColumn button{
  margin-left: 5px;
  margin-right: 5px;
}

.formHalfRow{
  width: 50%;
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .frormHalfRow{
    width: 100%;
  }

}

form{
  padding: 20px
}

tr{
  cursor: pointer;
}

.addBtn{
  float: right;
}

.modalOrder{
  text-align: center;
  align-items: center;
  justify-content: center;
}